body {
    margin: 0;
    font-family:'Avenir', 'Futura', sans-serif;
}

#location-info-panel {
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    top: 75px;
    right: 75px;
    width: 15%;
}

.location-info-title {
    font-size: x-large;
    text-align: center;
    padding: 10px;
}

#location-info-container {

}

.location-name {
    font-size: large;
    text-align: center;
    padding: 10px;
    background-color: #0081C6;
    color: #FFFFFF;
}
.location-spex {
    border-top: 1px solid #0081C6;
    padding: 10px;
    background-color: #83D0F0;
}