body {
    margin: 0;
    font-family:'Avenir', 'Futura', sans-serif;
}

.shadow {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .7));
  }

#location-info-panel {
    position:absolute;
    top: 25px;
    right: 25px;
    width: 15%;
    z-index: 999;
    box-shadow: 5px 5px 10px #000000;
    opacity: 95%;
    border-radius: 5px;
    overflow: hidden;
}

#location-info-panel img {
    width: 100%;
}

.location-info-title {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #FFFFFF;
}

#location-info-container {

}

.location-name {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #0081c6;
    color: #FFFFFF;
}
.location-spex {
    border-top: 1px solid #0081C6;
    padding: 10px;
    background-color: #83D0F0;
}